body {
    margin: 0px;
    font-family: 'Space Grotesk', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 76px;
    background-color: #ffff;
    border-bottom: 1px soid #F8E0FB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
}

header img {
    width: 151px;
    height: 40px;
    margin-right: 32px;
    /* margin: 18px auto; */
}

.menu__wrapper {
    display: flex;
}

.menu__wrapper a{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    display: flex;
    margin-right: 32px;
    white-space: nowrap;
    opacity: 0.5;
}

/* section__sellNFt */

.sectiom__sellNFt {
    display: flex;
    flex-flow: column;
    position: relative;
}

.section__sellNFt h1 {
    text-align: center;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #000000;
    text-shadow: -5px 5px 0px #FFFFFF;
    padding-top: 117px;
    margin: 0 auto;
}

.section__sellNFt p {
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
    padding-top: 32px;
    margin-bottom: 32px;
}

.section__sellNFt button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 114px;
    padding: 16px 20px;
    background: #532C59;
    border-radius: 15px;
    margin: 0 auto;
    color: #FFFFFF;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 16px;
    Line-height: 20px;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: none;
}

.sellNFt__bg {
    position: absolute;
    max-width: 1440px;
    width: 100%;
    height: 499px;
    left: 0px;
    top: 57px;
    background: pink;
    background: radial-gradient(50% 50% at 50% 50%, #E36CE6 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
    filter: blur(116px);
    z-index: -1;
}